*.ckpt filter=lfs diff=lfs merge=lfs -text
hdf5 filter=lfs diff=lfs merge=lfs -text
ckpt filter=lfs diff=lfs merge=lfs -text
.[[:space:]]hdf5 filter=lfs diff=lfs merge=lfs -text
.ckpt filter=lfs diff=lfs merge=lfs -text
